.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-container {
  width: 125px;
  margin-left: 10px; 
  margin-right: 10px;

}

.progress-text {
  font-size: 16px;
  position: relative;
  top: -82px;
  font-weight: bold;
}

.progress-title {
  font-size: 16px;
}

.progress-svg {
  width: 114px;
  height: 114px;
}

.progress-bg {
  fill: none;
  stroke-width: 10px;
  stroke: #1a2c34;
}

/* [class^="progress-bar"] {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
} */

.progress-bar {
  stroke-dasharray: 359;
  /* stroke-dashoffset: 180; */
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
