.info-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.info-row {
  display: flex-col;
  font-size: 17px;
}

.info-label {
  display: flex;
  justify-content: end;
  color: #fff;
}

.info-value {
  display: flex;
  justify-content: left;
  color: #fff
}

.main-container {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.wrap-circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #000;
}

.circle {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #ffcdb2;
  overflow: hidden;
}

.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 108px;
  height: 108px;
  background: #000;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
}

.title {
  font-size: 16px;
  margin-bottom: 4px;
}
